

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-sm-none d-md-block col-lg-3 p-0">
            <div class="bd-example-offcanvas">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">All files</h5>

                    </div>
                    <div class="offcanvas-body flex-column pt-2 py-lg-0">
                        @await Component.InvokeAsync("MarkdownFileList")
                    </div>
                </div>

            </div>



        </div>
        <div class="col-lg-9 col-xs-12 border-start section-content">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <a class="btn btn-primary me-md-2" role="button" href="@Url.Action("Edit","Markdown", new{fileName = ViewBag.FileName})">Editfile</a>

            </div>
            <div class="mt-2">
                <h2>@ViewBag.Title</h2>

                <div>
                    @Html.Raw(ViewBag.HtmlContent)
                </div>

            </div>

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">All files</h5>

    </div>
    <div class="offcanvas-body flex-column pt-2 py-lg-0">
        @await Component.InvokeAsync("MarkdownFileList")
    </div>
</div>